:root {
  --primary-font: 'Lato', sans-serif;
}

header{
  font-family: var(--primary-font);
  font-size: 3rem;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  display: flex;
  position: fixed;
  padding: 4rem;
  align-items: center;
}

.logo{
  margin-right: 2rem;
  font-size: 4.5rem;
}

main{
	padding-top: 13rem;
}

nav ul{
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  cursor: pointer;
  font-weight: 400;
  padding: 10px 16px;
  border-radius: 10px;
}

nav li:hover{
  background: #e50914;
  cursor: pointer;
}

.inputBar {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  pointer-events: none;
}

#inputValue{
  pointer-events: all;
  width: 20%;
  background: transparent;
  color: #ffffff;
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  height: 3.5rem;
  border: 2px solid rgba(245, 245, 241, 0.1);
  transition: border 0.25s ease, width 0.125s ease 0.125s;
}

#inputValue:focus {
  border: 2px solid #e50914;
  width: 30%;
}

#result{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;
  column-gap: 6rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.poster{
  width: 40rem;
  height: 40rem;
  align-items: center;
  position: relative;
}

.posterNotImage{
  width: 100%; 
  height: 100%; 
  align-content: center; 
  margin-left: auto; 
  margin-right: auto; 
  background: #2d2d2d;
}

.posterImage {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
  background: #000000;
}

.posterZoom{
  position:absolute;
  width: 100%; 
  height: 100%; 
}

.poster:hover > .favoriteButton{
  display: block;
}

.poster:hover .posterImage {
  transform: scale(1.1);
  transition: transform 0.3s ease; 
  /* background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%); */
}

.favoriteButton{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-content: center;  
}

.poster:hover .posterImage,
.poster:hover .favoriteButton {
  z-index: 1; 
}

.favoriteButton {
  pointer-events: none; 
}

.favoriteIcon{
  width: 30%;
  height: 30%;
}

footer{
  height: 20rem;
  align-content: center;
  text-align: center;
}

@media screen and (min-width:1200px) {
  #result{
    padding-left: 20rem;
    padding-right: 20rem;
  }
}


